@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  background-color: #2f2f81;
  font-family: 'IBM Plex Sans', sans-serif;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}
